<h3 id="item-title">{{item.title}}</h3>
<div class="detail-img-cont">

	{{!-- <img src="{{url}}" class="detail-img" alt="" /> --}}
	<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			{{#each item.pictures}}
				<div class="carousel-item">

					<img src={{url}} class="w-100 carousel-img" alt="..." />
				</div>
			{{/each}}
		</div>
		<button class="carousel-control-prev boton-carousel" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next boton-carousel" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

</div>
<p>Available Quantity: {{item.available_quantity}}</p>
<p>Location: {{item.seller_address.state.name}}</p>
<input type="button" onclick="history.back()" name="Back to search" class="btn btn-primary" value="Back to search" /><br />
<form action="/my-products" method="POST">
	<input type="hidden" name="image" value={{item.thumbnail}} />
	<input type="hidden" name="title" value="{{item.title}}" />
	<input type="hidden" name="price" value={{item.price}} />
	<button type="submit" class="btn btn-primary">Add to my products</button>
</form>
<script src="/js/carrousel.js"></script>